<%- include('partials/header') %>
<div class="row">
    <header class="main-header">
        <% if (user) { %>
        <h1 class="main-header__user"><%= user.email %>'s Book Collection</h1>
        <% } else { %>
            <h1 >Bookescent</h1>
            <div class="typewriter-container">
                <h2 id="typewriter" class="">All Of Your Books - Secured<span id="cursor" style="visibility:hidden;"></span></h2>
            </div>
            
            <script async>
                const typewriter = document.getElementById('typewriter');
                const cursor = document.getElementById('cursor');
                const textArray = typewriter.textContent.split('');
                typewriter.textContent = '';
                let loopTimer;

                               
                function textLooper() {
                    if (textArray.length > 0) {
                        typewriter.textContent += textArray.shift();
                    } else {
                        clearTimeout(loopTimer);
                        return false;
                    }
                    loopTimer = setTimeout('textLooper()', 100);
                }
                
                textLooper();

                </script>
            <% } %>
            <% if (!user) {%>

                <form action="" class="signup">
                    <h3>Sign Up</h3>
                    <div class="form-control">
                        <label class="" for="email">Email: </label>
                        <input class="" type="text" name="email" id="userEmail">
                    </div>
                    <div class="form-control">
                        <label class="" for="password">Password: </label>
                        <input class="" type="password" name="password" id="userPassword">
                    </div>
                    <div class="form-control">
                        <button class="" type="submit">Submit</button>
                        <button class="" type="reset">Reset</button>
                    </div>
                </form>
                
                <script>
                    const form = document.querySelector('form');
                
                    form.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        const email = form.email.value;
                        const password = form.password.value;
                        try {
                            const res = await fetch('/api/v1/users/signup', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({email, password})
                        })
                        const data = await res.json();
                        console.log(data);
                        if (data.user) {
                            location.assign('/');
                        } else {
                            console.log(data);
                        }
                
                        } catch (err) {
                            return console.log(err);
                        }
                    })
                
                </script>
            
            <% } else if (user) { %>
            </header>
                <section class="section-book">
                    <h2>Your Book Collection</h2>
                    <div id="bookList" class="section-book__book-list"></div>
            
                </section>
                <script>
                    const bookList = document.getElementById('bookList');
            
                    const getBooks = async function() {
                        try {
                            const res = await fetch('/api/v1/books', {
                                method: 'GET',
                                headers: {'Content-Type' : 'application/json'}
                            })
                            const data = await res.json();
                            return data;
            
                        } catch (err) {
                            return console.log(err);
                        }
                    }
            
                    getBooks().then((data) => {
                        data.forEach((book) => {
                            const card = document.createElement('div');
                            card.className = "card";
                            card.style.backgroundImage = `linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.66)), url('http://covers.openlibrary.org/b/isbn/${book.ISBN}-L.jpg')`;
                            card.style.height = "475px";
                            card.style.backgroundAttachment = "local scroll";
                            card.style.backgroundSize = "cover";
                            const title = document.createElement('h3');
                            title.className = ""
                            const titleText = document.createTextNode(book.title);
                            title.append(titleText);
                            const author = document.createElement('p');
                            author.className = ""
                            const authorText = document.createTextNode(book.author);
                            author.append(authorText);
                            const price = document.createElement('p');
                            const priceText = document.createTextNode('$' + book.price);
                            const link = document.createElement('a');
                            const linkText = document.createTextNode('Click To View');
                            link.className = ""
                            link.append(linkText);
                            link.setAttribute('href', `/api/v1/books/${book._id}`) 
                            price.append(priceText);
                            card.append(title);
                            card.append(author);
                            card.append(price);
                            card.append(link)
                            bookList.appendChild(card);
                        })
                    });
            
                </script>
            <% } %>
    </header>
</div>


<%- include('partials/footer') %>