<%- include('partials/header') %>
<% if (!user) {%>
    <div class="row">
        <header class="main-header">
            <h1>Login</h1>
            <div class="typewriter-container">
                <h2 id="typewriter" class="">All Of Your Books - Protected</h2>
                <script async>
                    const typewriter = document.getElementById('typewriter');
                    const cursor = document.getElementById('cursor');
                    const textArray = typewriter.textContent.split('');
                    typewriter.textContent = '';
                    let loopTimer;
    
                                   
                    function textLooper() {
                        if (textArray.length > 0) {
                            typewriter.textContent += textArray.shift();
                        } else {
                            clearTimeout(loopTimer);
                            return false;
                        }
                        loopTimer = setTimeout('textLooper()', 100);
                    }
                    
                    textLooper();
    
                    </script>
            </div>
            <form action="" class="signup">
                <div class="form-control">
                    <label class="" for="email">Email: </label>
                    <input class="" type="text" name="email" id="userEmail">
                </div>
                <div class="form-control">
                    <label class="" for="password">Password: </label>
                    <input class="" type="password" name="password" id="userPassword">
                </div>
                <div class="form-control">
                    <button class="" type="submit">Submit</button>
                    <button class="" type="reset">Reset</button>
                </div>
            </form>
        </header>
    </div>

    
    
    <script>
        const form = document.querySelector('form');
    
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = form.email.value;
            const password = form.password.value;
            try {
                const res = await fetch('/api/v1/users/login', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({email, password})
            })
            const data = await res.json();
            console.log(data);
            if (data.user) {
                location.assign('/');
            } else {
                console.log(data);
            }
    
            } catch (err) {
                return console.log(err);
            }
        })
    
    </script>

<% } else if (user) { %>
    <section class="">
        <h1>Welcome, <%= user.email %></h1>
    </section>
    <script>
        location.assign('/');
    </script>
<% } %>


<%- include('partials/footer') %>