<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <!-- <link rel="stylesheet" href="/public/css/compiled.css"> -->
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <p>
                <% if (user) { %>
                    Welcome <%=user.email %>
                <% } %>
            </p>
        </div>
<div class="row">
            <nav class="main-nav">
                <a class="" href="/">Home</a>
                <% if (!user) { %>
                    <a class="" href="/login">Login</a>
             <% } %> 
                
                <% if (user) { %>
                    <a class="" href="/edit-books">Edit Books</a>
                    <a class="" href="/logout">Logout</a>
                    <% } %>
            </nav>
        </div>
        